{% extends 'GravityCmsBundle:Field:field.html.twig' %}

{% block field %}
    {% spaceless %}
        {% if tag.route %}
            <a href="{{ url(tag.route.name) }}">{{ tag.name }}</a>
        {% else %}
            {{ tag.name }}
        {% endif %}
    {% endspaceless %}
{% endblock field %}
